body{
    background-color: black;
    color: white;
}
#Uninteractable_Wrapper{
    position: relative;
}
#Uninteractable_Cover{
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 2;
}

/* Make sure the cursor will not show over the image */
.content-container{
    cursor: none;
    z-index: 1;
    width: 100%; /* Was 80% for sidebar & footer */
    height: 100%;
    display: inline-block;
}
.content-container .Ad_Content
{
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: none;

    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}


#SideBar{
    float: right;
    width: 20%;
    height: 100%;
}

#SubContentContainer{ 
    border: none;
    height: 100%;
    width: 100%;   
    bottom: 0;
    left: 0;
    font-size: 75px;
    position: absolute;
    line-height: 100px;
    object-fit: contain;
}

#SubContentContainer img{
    text-align: center;
    width: 100%;
}