body{
    background-color: black;
    color: white;
}
/* Make sure the cursor will not show over the image */
.content-container{
    cursor: none;
}
.content-container .Ad_Content
{
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: none;

    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/* CSS for a simple error message */
.error-message{
    margin: 10px;
    height: 75px;
    line-height: 75px;
    text-align: center;
    background-color: #ffe9e9;
    border: 1px solid #e7a9a9;
    color: #d04544;}
.error-message li{
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;}
.IFrameWrapper{
    position: relative;
}
.IFrameBlocker{
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 2;
}
iframe{
    z-index: 1;
}