body, html {   
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: table;
}
body {
    display: table-cell;
}
form {
    padding-top: 10%;
    display: table;
    margin: auto;
}
input{
    width: 300px;
}