body, html {   
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: table;
}
body {
    display: table-cell;
}
#Errors{
    width: 100%;
    margin: 0px;
    height: 95px;
}
form {
    width: 325px;
    display: table;
}
form p{
    width: 125px;
    display: inline-block;
}
input{
    margin: 0px 0px 5px 0px;
    width: 200px;
    display: inline-block;
}
input[type="checkbox"]{
    margin-left: -0px;
    /* used to be -93px */
}
input[type="submit"]{
    width: 100%;
    background: none;
    border: none;
    padding: 5px;
    border: 1px solid #326ada;
    color: black;
}
input[type="submit"]:hover{
    background-color: #326ada;
    color: #fff;
}

#RegisteredHosts{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
}
#RegisteredHosts .host{
    margin: 5px;
    padding: 5px;
    color: white;
    background-color: #BCC16F;
    border-radius: 5px;
}

#Groups{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
}
#Groups div{
    margin: 5px;
    padding: 5px;
    background-color: #326ada;
    border-radius: 5px;
    color:white;
}

#RegisteredHosts, #Groups{
    margin-left: 15px;
}
