#HostInformation{
    background-color: rgb(173,216,230);
    border: 2px solid rgb(135,206,250);
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.title{
    padding: 0px;
    margin: 0px;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    border: 2px solid white;
    background-color: rgb(103,156,170);
    color: white;
    font-size: 40px;
}
.hostData{
    display: inline-block;
    margin: 10px;
    padding: 5px;
    background-color: black;
    color: white;
    border-radius: 5px;
    width: 300px;
}
.hostNameWrapper{
    display: inline-block;
    width: 100%;
}
.hostName{
    margin: 5px;
    padding: 5px;
    color: white;
    background-color: #BCC16F;
    border-radius: 5px;
    float: left;
}
.editHost{
    margin: 5px;
    padding: 5px;
    background-color: #3aa800;
    border-radius: 5px;
    float: right;
}
.editHost:hover{
    background-color: #2F8900;
    cursor: pointer;
}
.deleteHost{
    margin: 5px;
    padding: 5px;
    background-color: #FF3300;
    border-radius: 5px;
    float: right;
}
.deleteHost:hover{
    background-color: #D12A00;
    cursor: pointer;
}
.hostGroups{
    display: flex;
    flex-wrap: wrap;
}
.hostGroup, .groupData{
    margin: 5px;
    padding: 5px;
    color:white!important;
    background-color: #326ada;
    border-radius: 5px;
}
.hostWayfinding{
    margin: 5px;
    padding: 5px;
    color:white;
    background-color: #7796A5;
    border-radius: 5px;
    height: 18px;
}
.hostWayfinding div.left{
    float: left;
}
.hostWayfinding div.right{
    font-size: 14px;
    line-height: 16px;
    float: right;
}
.viewhost{
    margin: 5px;
    padding: 5px;
    background-color: #326ada; 
    border-radius: 5px;
    color: white;
}
a{
    text-decoration: none;
}
.viewhost:hover{
    background-color: #7DA0E7;
    cursor: pointer;    
}

.hostData form{
    margin: 5px;
    padding: 5px;
}

#GroupInformation{
    width: 100%;
    background-color: rgb(130,162,173);
    border: 2px solid rgb(101,155,188);
}

.groupData{
    text-align: center;
    font-size: 18px;  
}

.groupName{
    padding: 5px 0px;
    display: inline-block;
    width: 100%;
}
.groupName:hover{
    background-color: #7DA0E7;
    border-radius: 5px;
    cursor: pointer;    
}
form.editGroupName{
    display: none;
}
input[name='editGroupName']{
    padding: 5px;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    width: 200px;
    background-color: #D1D1D1;
    border-radius: 3px;
    color: #171717;
    border: none;
}
.editGroup{
    display: inline-block;
    color: white;
    font-size: 14px;
     /* Deciding if I like this...*/
    /*text-decoration: underline;*/
    background-color: black;
    padding: 2px 5px;
    margin: 2px 5px;
    border-radius: 5px;
}
.editGroup:hover{
    background-color: white;
    color: black;
}

.groupWrapper{
    background-color: rgb(173,216,230);
    padding: 5px;
    border-radius: 5px;
    display: none;
    margin-top: 5px;
}

.AdContentWrapper{
    display: inline-block;
    margin: 5px;
    padding: 5px;
    background-color: #7796A5;
    max-width: 315px; 
    border-radius: 5px;
    width: 100%;
}
.Ad_Content{
    max-height: 152px;
}

.AddContent{
    background-color: #3aa800;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    color: white;
}
.AddContent .fullWidth{
    width: 100%;
    margin-bottom: 5px;
}
.AddContent form{
    padding: 5px;
}
.AddContent input[type="submit"]{
    margin-bottom: 0px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 18px;

}.AddContent input[type="submit"]:hover{
    background-color: #2F8900;
    color: white;

}

.AdContentWrapper img, .AdContentWrapper iframe{
    max-width: 300px;
}
.AdContentWrapper table{
    background-color: black;
    border-radius: 5px;
    margin: 5px auto;
    padding: 5px;
    color: white;
    width: 300px;
}
.AdContentWrapper table tr td{
    margin: 2px;
    padding: 2px;
    font-size: 14px;
    max-width: 100px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.removeContent{
    background-color: #FF3300;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    color:white;
}
.removeContent:hover{
    cursor: pointer;
    background-color: #D12A00;
}
#createNewWrapper p{
    border: none;
    background: none;
    color:white;
}
input[name="groupName"]{
    width: 250px;
    padding: 5px;
    border: none;
    background-color: #D1D1D1;
    border-radius: 3px;
    color: #171717;
    font-size: 14px;
}
input[name="groupName"]::placeholder{
    color: #171717;
    font-size: 14px;
}

#ContentInformation{
    width: 100%;
    background-color: rgb(87,108,115);
    border: 2px solid rgb(68,103,125);
}

#Drag-And-Drop{
    position: absolute;
    height: 100%;
    width: 100%;
}

.Dir{
    border: 1px solid black;
    border-bottom: none;
    border-top: none;
    padding: 5px;
    margin: 0px 5px;
}

.DirName{
    padding: 5px;
    background-color: #326ada;
    border-radius: 5px;
    color: white;
}
.DirName:hover{
    background-color: #7DA0E7;
    border-radius: 5px;
    cursor: pointer;
}

.files{
    margin: 5px 0px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(173,216,230);
}

