#HostInformation{
    background-color: rgb(173,216,230);
    border: 2px solid rgb(135,206,250);
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.hostData{
    display: inline-block;
    margin: 10px;
    padding: 5px;
    background-color: black;
    color: white;
    border-radius: 5px;
    width: 200px;
}
.hostNameWrapper{
    display: flex;
    flex-wrap: wrap;
}
.hostName{
    margin: 5px;
    padding: 5px;
    color: white;
    background-color: #BCC16F;
    border-radius: 5px;
}
.hostGroups{
    display: flex;
    flex-wrap: wrap;
}
.hostGroup, .groupData{
    margin: 5px;
    padding: 5px;
    color:white;
    background-color: #326ada;
    border-radius: 5px;
}
.hostWayfinding{
    margin: 5px;
    padding: 5px;
    color:white;
    background-color: #7796A5;
    border-radius: 5px;
}

#GroupInformation{
    width: 100%;
    background-color: rgb(130,162,173);
    border: 2px solid rgb(101,155,188);
}

.groupData{
    text-align: center;
    font-size: 18px;
}

#ContentInformation{
    width: 100%;
    background-color: rgb(87,108,115);
    border: 2px solid rgb(68,103,125);
}