#HostInformation{
    background-color: rgb(173,216,230);
    border: 2px solid rgb(135,206,250);
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.hostData{
    display: inline-block;
    margin: 10px;
    padding: 5px;
    background-color: black;
    color: white;
    border-radius: 5px;
    width: 200px;
}
.hostNameWrapper{
    display: flex;
    flex-wrap: wrap;
}
.hostName{
    margin: 5px;
    padding: 5px;
    color: white;
    background-color: #BCC16F;
    border-radius: 5px;
}
.hostGroups{
    display: flex;
    flex-wrap: wrap;
}
.hostGroup, .groupData{
    margin: 5px;
    padding: 5px;
    color:white;
    background-color: #326ada;
    border-radius: 5px;
}
.hostWayfinding{
    margin: 5px;
    padding: 5px;
    color:white;
    background-color: #7796A5;
    border-radius: 5px;
}
.viewhost{
    margin: 5px;
    padding: 5px;
    background-color: #326ada; 
    border-radius: 5px;
    color: white;
}
a{
    text-decoration: none;
}
.viewhost:hover{
    background-color: #7DA0E7;
    cursor: pointer;    
}

#GroupInformation{
    width: 100%;
    background-color: rgb(130,162,173);
    border: 2px solid rgb(101,155,188);
}

.groupData{
    text-align: center;
    font-size: 18px;  
}

.groupName{
    padding: 5px 0px;
}
.groupName:hover{
    background-color: #7DA0E7;
    border-radius: 5px;
    cursor: pointer;    
}

.groupWrapper{
    background-color: rgb(173,216,230);
    padding: 5px;
    border-radius: 5px;
    display: none;
    margin-top: 5px;
}

.AdContentWrapper{
    display: inline-block;
    margin: 5px;
    padding: 5px;
    background-color: #7796A5;
    max-width: 315px; 
    border-radius: 5px;
    width: 100%;
}

.AdContentWrapper img, .AdContentWrapper iframe{
    max-width: 300px;
}
.AdContentWrapper table{
    background-color: black;
    border-radius: 5px;
    margin: 5px auto;
    padding: 5px;
    color: white;
    width: 300px;
}
.AdContentWrapper table tr td{
    margin: 2px;
    padding: 2px;
    font-size: 14px;
}

.editGroup{
    color: white;
    font-size: 14px;
     /* Deciding if I like this...*/
    /*text-decoration: underline;*/
    background-color: black;
    padding: 2px 5px;
    margin: 2px 5px;
    border-radius: 5px;
}
.editGroup:hover{
    background-color: white;
    color: black;
}

#ContentInformation{
    width: 100%;
    background-color: rgb(87,108,115);
    border: 2px solid rgb(68,103,125);
}

.Dir{
    border: 1px solid black;
    border-bottom: none;
    border-top: none;
    padding: 5px;
    margin: 0px 5px;
}

.DirName{
    padding: 5px;
    background-color: #326ada;
    border-radius: 5px;
    color: white;
}
.DirName:hover{
    background-color: #7DA0E7;
    border-radius: 5px;
    cursor: pointer;
}

.files{
    margin: 5px 0px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(173,216,230);
}

.Ad_Content{
    max-height: 152px;
}