*{
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}
.edit{
    display: inline-block;
    margin: 5px;
    padding: 5px;
    background-color: #3aa800;
    border-radius: 5px;
}
.edit:hover{
    background-color: #2F8900;
    cursor: pointer;
}
input{
    user-drag: text; 
    user-select: text;
    -moz-user-select: text;
    -webkit-user-drag: text;
    -webkit-user-select: text;
    -ms-user-select: text;
}
input:placeholder{
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
/* Generic delete button class */
.delete{
    display: inline-block;
    margin: 5px;
    padding: 5px;
    background-color: #FF3300;
    color: white;
    border-radius: 5px;  
    font-size: 16px;  
    text-align: center;
}
.delete:hover{
    background-color:#D12A00;
    cursor: pointer;
}

#HostInformation{
    background-color: rgb(173,216,230);
    border: 2px solid rgb(135,206,250);
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.title{
    padding: 0px;
    margin: 0px;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    border: 2px solid white;
    background-color: rgb(103,156,170);
    color: white;
    font-size: 40px;
}
.hostData{
    display: inline-block;
    margin: 10px;
    padding: 5px;
    background-color: black;
    color: white;
    border-radius: 5px;
    width: 300px;
}
.hostNameWrapper{
    display: inline-block;
    width: 100%;
}
.hostName, .nickName{
    margin: 5px;
    padding: 5px;
    color: white;
    background-color: #BCC16F;
    border-radius: 5px;
    float: left;
}
.editHost{
    margin: 5px;
    padding: 5px;
    background-color: #3aa800;
    border-radius: 5px;
    float: right;
}
.editHost:hover{
    background-color: #2F8900;
    cursor: pointer;
}
.deleteHost{
    margin: 5px;
    padding: 5px;
    background-color: #FF3300;
    border-radius: 5px;
    float: right;
}
.deleteHost:hover{
    background-color: #D12A00;
    cursor: pointer;
}
.hostGroups{
    display: flex;
    flex-wrap: wrap;
    min-height: 35px;
    min-width: 0px;
}
.hostGroup, .groupData{
    margin: 5px;
    padding: 5px;
    color:white!important;
    background-color: #326ada;
    border-radius: 5px;
}
.hostWayfinding{
    margin: 5px;
    padding: 5px;
    color:white;
    background-color: #7796A5;
    border-radius: 5px;
    height: 18px;
}
.hostWayfinding div.left{
    float: left;
}
.hostWayfinding div.right{
    font-size: 14px;
    line-height: 16px;
    float: right;
}
.viewhost{
    margin: 5px;
    padding: 5px;
    background-color: #326ada; 
    border-radius: 5px;
    color: white;
}
a{
    text-decoration: none;
}
.viewhost:hover{
    background-color: #7DA0E7;
    cursor: pointer;    
}

.hostData form{
    margin: 5px;
    padding: 5px;
}

#GroupInformation{
    width: 100%;
    background-color: rgb(130,162,173);
    border: 2px solid rgb(101,155,188);
}

.groupData{
    text-align: center;
    font-size: 18px;
    /* This removes any selection entirely */
    /* Deciding if this should be a thing or not */
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;  
}

.groupName{
    padding: 5px 0px;
    display: inline-block;
    width: 100%;
}
.groupName:hover{
    background-color: #7DA0E7;
    border-radius: 5px;
    cursor: pointer;    
}
form.editGroupName{
    display: none;
}
input[name='editGroupName']{
    padding: 5px;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    width: 200px;
    background-color: #D1D1D1;
    border-radius: 3px;
    color: #171717;
    border: none;
}
.editGroup{
    font-size: 14px;
    padding: 2px 5px;
    margin: 2px 5px;
}

.deleteGroup{
    margin: 2px 5px;
    padding: 2px 5px;
    float: right;
    position: absolute;
    right: 10px;
    font-size: 14px;
}
.groupWrapper{
    background-color: rgb(173,216,230);
    padding: 5px;
    border-radius: 5px;
    display: none;
    margin-top: 5px;
}

.AdContentWrapper{
    display: inline-block;
    margin: 5px;
    padding: 5px;
    background-color: #7796A5;
    max-width: 315px; 
    border-radius: 5px;
    width: 100%;
}
.Ad_Content{
    max-height: 152px;
}

.AddContent{
    background-color: #3aa800;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    color: white;
}
.AddContent .fullWidth{
    width: 100%;
    margin-bottom: 5px;
}
.AddContent form{
    padding: 5px;
}
.AddContent input[type="submit"]{
    margin-bottom: 0px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 18px;

}.AddContent input[type="submit"]:hover{
    background-color: #2F8900;
    color: white;

}

.AdContentWrapper img, .AdContentWrapper iframe{
    max-width: 300px;
}
.AdContentWrapper table{
    background-color: black;
    border-radius: 5px;
    margin: 5px auto;
    padding: 5px;
    color: white;
    width: 300px;
}
.AdContentWrapper table tr td{
    margin: 2px;
    padding: 2px;
    font-size: 14px;
    max-width: 100px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.deleteAd{
    display: block;
}
#createNewWrapper p{
    border: none;
    background: none;
    color:white;
}
input[name="groupName"]{
    width: 250px;
    padding: 5px;
    border: none;
    text-align: center;
    background-color: #D1D1D1;
    border-radius: 3px;
    color: #171717;
    font-size: 14px;
}
input[name="groupName"]::placeholder{
    color: #171717;
    font-size: 14px;
}
#dropzone-upload{
    box-sizing: border-box;
    border: 4px dashed #0087F7;
}/*
#dropzone-upload:hover{
    cursor: pointer;
}
#dropzone-upload div{
    height: 100%;
    text-align: center;
    line-height: 150px;
}*/
#dropzone-upload div span{
    color: #666666;
    font-weight: 600;
    font-size: 25px;
}

#ContentInformation{
    width: 100%;
    background-color: rgb(87,108,115);
    border: 2px solid rgb(68,103,125);
}

.Dir{
    border: 1px solid black;
    border-bottom: none;
    border-top: none;
    padding: 5px;
    margin: 0px 5px;
}

.DirName{
    padding: 5px;
    background-color: #326ada;
    border-radius: 5px 5px 0px 0px;
    color: white;
}
.DirName:hover{
    background-color: #7DA0E7;
    cursor: pointer;
}

.files{
    padding: 5px;
    margin-top: 0px;
    margin-bottom: 5px;
    border-radius: 0px 0px 5px 5px;   
    background-color: rgb(173,216,230);
    display: none
}

.file_wrapper{
    width: 350px;
    padding: 5px;
    margin: 5px;
    background-color: #326ada;
    border-radius: 5px;
    display: inline-block;
}
.file_wrapper img, .file_wrapper iframe{
    width: 100%;
    object-fit: contain;
}

.file_wrapper div.file_path{
    color: white;
    text-align: center;
    padding: 5px;
}

.file_wrapper .deleteContent{
    display: block;
}