body{
    overflow: hidden;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
}
img{
    -webkit-user-drag: none;
}
#wayfinding_container{
    background-color: white;
    display: inline-block;
    width: 100%;
    height: 100%;
    font-family: 'Raleway', sans-serif;
}

#top{
    height: 81%;
    display: flex;
}
#maps{
    float: left;
    height: 100%;
    width: 75%;
    background-color: #aefef3;
}
#legendWrapper{
    margin-right: 2%;
    height: 100%;
    width: 25%;
}
#legendWrapper #LSC_Logo{
    height: 300px;
    width: 300px;
    margin: -75px 0px;
}
#HeadingWrapper{
    margin: 10px 0px;
    padding: 10px 0px;
    text-align: center;
    border: 3px solid #dedede;
    border-left: none;
    border-right: none;
    
}
#HeadingWrapper h1{
    font-size: 50px;
    color: #1E4D2B;
    font-weight: bolder;
}
#HeadingWrapper h4{
    margin-top: 15px;
    margin-bottom: 5px;
    letter-spacing: 1px;
    font-size: 23px;
    color: #59595B;
    font-weight: lighter;
}
#EPSRGL_Logos{
    height: 5.2%;
    width: 100%;
    margin-bottom: 35px;
}
#EPSRGL_Logos img{
    width: 65px;
    height: 65px;
}
#legend{
    width: 100%;
    float: left;
}
#legend div{
    display: inline-block;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1.5% 0%;
    font-size: 17px;
    font-weight: 600;
    margin-left: 25%;
}
#legend img{
    height: 30px;
}
#bottom{
    height: 19%;
    width: 100%;
}
#roomNavigation{
    /* Maybe this could be a scroll bar for looking for a specific room? */
    height: 10%;
    width: 100%;
    background-color: yellow;   
}
#roomNavigation:hover{
    background-color: red;
}
#roomSelection{
    height: 74.5%;
    width: 100%;
    margin-bottom: -5px;
}
.roomColumn{
    display: inline-block;
    height: 100%;
    width: 16.666%;
    padding: 0;
    margin: 0;
    padding-top: .4%;
}
.roomContainer{
    height: 33.333%;
    width: 100%;
}
.room{
    margin: 0px 10px;
    border: 1px solid #1E4D2B;
    border-radius: 3px;
    color: #1E4D2B;
    height: 70%;
}
.room:hover{
    background-color: #1E4D2B;
    color: white;
    cursor: pointer;
}
.room div{
    line-height: 40px;
    display: inline-block;
}
.room .roomName{
    padding-left: 4%;
    float: left;
}
.room .roomNumber{
    padding-right: 4%;
    float: right;
}
#filters{
    background: #D9782D;
    height: 3.5%;
    width: 100%;
    display: flex;
    align-items: center;
    vertical-align: middle;
    bottom: 0px;
    margin:0;
    position: fixed;
}
.lower_controls{
    font-weight: 600;
    height: 35%;
    display: inline-block;
    padding: 5px;
    margin: 5px;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 3px;
    width: 135px;
    text-align: center;
    vertical-align: center;
    line-height: 115%;
    color:white;
}
.lower_controls:hover{
    background-color: white;
    color: #D9782D;
    cursor: pointer;
}
