body{
    overflow: hidden;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
}
img{
    -webkit-user-drag: none;
}
#wayfinding_container{
    background-color: white;
    display: inline-block;
    width: 100%;
    height: 100%;
    font-family: 'Raleway', sans-serif;
}

#top{
    height: 81%;
    display: flex;
}
div#MapWrapper{
    height: 100%;
    width: 100%;
}
div#MapWrapper img{
    max-width: 100%;
    max-height: 100%;
}
#myMaps{
    position: absolute;
    top: 0;
    left: 0;
    height: 81%;
    padding-bottom: 0px!important;
}
#myMaps div#floor1{
    padding-bottom: 0px!important;
    stroke: transparent;
    fill: transparent;
}
#legendWrapper{
    height: 100%;
    width: auto;
}
#legendWrapper #LSC_Logo{
    height: 300px;
    width: 300px;
    margin: -75px 0px;
}
#HeadingWrapper{
    margin: 10px 0px;
    padding: 10px 0px;
    text-align: center;
    border: 3px solid #dedede;
    border-left: none;
    border-right: none;
    
}
#HeadingWrapper h1{
    font-size: 50px;
    color: #1E4D2B;
    font-weight: bolder;
}
#HeadingWrapper h4{
    margin-top: 15px;
    margin-bottom: 5px;
    letter-spacing: 1px;
    font-size: 23px;
    color: #59595B;
    font-weight: lighter;
}
#EPSRGL_Logos{
    height: 5.2%;
    width: 100%;
    margin-bottom: 35px;
}
#EPSRGL_Logos img{
    width: 65px;
    height: 65px;
}
#legend{
    display: inline-block;
    width: 100%;
    max-height: 50%;
}
#legend div{
    width: 300px;  
    display: flex;
    align-items: center;
    padding: 1.5% 0%;
    font-weight: 600;
    margin-left: 25%;
}
#legend img{
    height: 20px;
}
#legend img, #legend p{
    display: inline-block;
}
/*
@media screen and (max-height: 1000px){
    #legend div{
        max-width: 100%;
        
        margin-left: 0px!important;
        margin-right: 0px!important;   
    }
    #legend div{
        padding-bottom: 5px;
        font-size: 17px;
    }
}*/
#bottom{
    height: 19%;
    width: 100%;
}
#roomSelection{
    height: 10px;
    width: 100%;
}
#roomSelection #ScrollBar{
    height: 100%;
    width: 100%;    
    background-color: #999999
}
#roomSelection #ScrollBar #ScrollButton{
    height: 100%;
    width: 20px;
    border-radius: 10px;
    background-color: #666666;
}
#RoomButtons{
    height: 76.75%;
    max-height: 76.75%; 
    display: inline-block;
}
.roomColumn{ /* TODO Fix the height of the columns to fit the bottom area properly */
    display: inline-block;
    height: 100%;
    width: 300px;
    padding: 0;
    margin: 0;
}
.roomContainer{
    padding: 5px;
    padding-bottom: 0px;
    padding-right: 0px;
    height: 45px;
}
.room{
    border: 1px solid #1E4D2B;
    border-radius: 3px;
    color: #1E4D2B;
    height: 100%;
}
.room:hover{
    background-color: #1E4D2B;
    color: white;
    cursor: pointer;
}
.room div{
    line-height: 40px;
    display: inline-block;
}
.room .roomName{
    padding-left: 4%;
    float: left;
}
.room .roomNumber{
    padding-right: 4%;
    float: right;
}
#filters{
    background: #D9782D;
    height: 37px;
    width: 100%;
    display: flex;
    align-items: center;
    vertical-align: middle;
    bottom: 0px;
    margin:0;
    position: fixed;
}
.lower_controls{
    font-weight: 600;
    height: 17px;
    font-size: 17px;
    line-height: 17px;
    display: inline-block;
    padding: 5px;
    margin: 5px;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 3px;
    width: 135px;
    text-align: center;
    vertical-align: center;
    color:white;
}
.lower_controls:hover{
    background-color: white;
    color: #D9782D;
    cursor: pointer;
}

#refresh_screen{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 3px;
    color: white;
    background-color: #1E4D2B;
    border-color:#1E4D2B;
}
#refresh_screen:hover{
    color: #1E4D2B;
    background-color: white;
}

